
%h2
  =Restaurant
%ul
  - @restaurants.each do |restaurant|
    %h3
      %li= link_to restaurant[:name], restaurant_path(restaurant)
      %li= restaurant[:address]
      %li= restaurant[:category]
      %li= restaurant[:stars]

= link_to 'New Restaurant', new_restaurant_path
