%h3= @restaurant[:name]

%p
  ="Adress: #{@restaurant[:address]}"
  ="Category:#{@restaurant[:category]}"
  ="Stars: #{@restaurant[:stars]}"

= link_to 'Edit', edit_restaurant_path
= link_to 'Delete', restaurant_path(@restaurant),method: :delete
%br
